@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
}
#head .back
{
    background-image: url("../images/tianyi-ma-WiONHd_zYI4-unsplash.jpg");
    width:100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#head .header-back
{
    position: relative;
    width: 100%;

}
#head .header-content img {
    width: 10rem;
    background-size: contain;
    background-repeat: no-repeat;
  


}
#head .header-content
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;   
}
/* end of header 

/* beginning of about */

.under::after
{ 
   
    content: "";
    display:block;
    height: 3px;
    width: 60px;
    margin:10px auto ;
  
    background-color: blue;
    border-radius: 20%;
    
}
#course .card
{
    border: 2px solid black;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.596);
    border-radius: 10px;  
}
#course .card:hover
{
    background-color: rgba(103, 236, 170, 0.795);
    transform: translateY(-5px);
}
#course img
{
    height: 10rem;
    width: 100%;
    border-radius: 10px;
}
#course a
{
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.541);

}
#course .button
{
    background-color: springgreen;
    border-radius: 40%!important;
}
footer .next a
{
    text-decoration: none;
    color: black;
    font-size: large;
}
footer .next::after
{
    content: "";
    width:60%;
    height:4px;
    background-color: black;
    border-radius: 20%;
    margin: 1.5rem auto;

}
@media(max-width:576px){
    #head .back-sm
    {
        background-color:rgba(27, 23, 23, 0.61);
        width: 100%;
    }
    #head .header-back
    {
        display: block;
        height: 254px;
    }
    #head .image
    {
      justify-content: center;
      margin: auto;
    }
    /* end of heaer */
    #about 
    {
        position: relative;
        margin-top: 24rem;
       
    }
}
@media(min-width:870px)
{
    #head .back
    {
        height: 80vh;
        
    }
    /* end of header */
}
@media(max-width:576px)
{
     .between
    {
      display: flex;
      flex-wrap: wrap;
    }
    .rate
    {
        flex:0 0 20%;
        width: 20%;
        margin: auto;
    }
}
@media(max-width:346px)

{
    #head .header-content h4,#head .header-content h5
    {
        font-size: 15px;
    }
}
